openapi: 3.0.0
info:
  title: Microsoft Sentinel - Alert Rules List
  description: Plugin to list all Microsoft Sentinel Alert Rules from a workspace
  version: "v1"
servers:
  - url: https://management.azure.com

paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules:
    get:
      operationId: ListSentinelAlertRules
      description: List all alert rules in a Microsoft Sentinel workspace
      ExamplePrompt:
        - 'show me all Sentinel alert rules'
        - 'list all analytics rules in my Sentinel workspace'
        - 'get all detection rules from Sentinel'
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: Azure subscription ID
          schema:
            type: string
        - name: resourceGroupName
          in: path
          required: true
          description: Resource group name
          schema:
            type: string
        - name: workspaceName
          in: path
          required: true
          description: Log Analytics workspace name
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          description: API version
          schema:
            type: string
            default: "2025-09-01"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    description: List of alert rules
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        type:
                          type: string
                        kind:
                          type: string
                          description: "Type of rule: Scheduled, Fusion, MicrosoftSecurityIncidentCreation"
                        properties:
                          type: object
                          properties:
                            displayName:
                              type: string
                            description:
                              type: string
                            severity:
                              type: string
                            enabled:
                              type: boolean
                            tactics:
                              type: array
                              items:
                                type: string
                            query:
                              type: string
                            queryFrequency:
                              type: string
                            queryPeriod:
                              type: string
                            triggerOperator:
                              type: string
                            triggerThreshold:
                              type: integer
                            lastModifiedUtc:
                              type: string
                            incidentConfiguration:
                              type: object
                              properties:
                                createIncident:
                                  type: boolean
                                groupingConfiguration:
                                  type: object
                  nextLink:
                    type: string
                    description: URL to get next page of results
        "default":
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
